---
const { href, text, variant = "default", classes } = Astro.props;
const variantClass = {
  default: "bg-green text-dark",
  outlined: "text-white border border-white hover:inset-ring-8 hover:inset-ring-white",
};

const currentVariant =
  (typeof variant === "string" && variant in variantClass ? variant : "default") as keyof typeof variantClass;
---

<a
  class:list={[
    "inline-flex w-fit items-center justify-center gap-4 whitespace-nowrap text-center px-6 py-4 text-xs font-bold tracking-wide transition duration-300 ease-in-out rounded-full lg:px-8 lg:py-6 lg:text-sm",
    variantClass[currentVariant],
    classes,
  ]}
  href={href}
>
  <slot />
  {text}
</a>
