---
import Mail from '../assets/icons/mail.svg';
import Telephone from '../assets/icons/telephone.svg';
import Map from '../assets/icons/map.svg';
import Insta from '../assets/icons/instagram.svg';
import Facebook from '../assets/icons/facebook.svg';
---

<footer class="bg-dark px-6 py-10 text-white">
  <div class="mb-6 mt-5 flex flex-col gap-5">
    <p class="text-xl font-bold">Flying TapFest</p>
    <p class="text-sm text-gray-400">Festival de claquette et de drone à Montbéliard</p>
  <nav class="mb-6 flex flex-col gap-5">
    <a href="/festival" class="text-white">Le Festival</a>
    <a href="/programme" class="text-white">Le programme</a>
    <a href="/artistes" class="text-white">Les artistes</a>
    <a href="/contact" class="text-white">Contact</a>
  </nav>
  </div>
  <div class="mb-10 flex flex-col gap-2 text-sm text-gray-400">
    <a href="mailto:flyingtapfest@gmail.com" class="flex items-center gap-2">
      flyingtapfest@gmail.com
    </a>
    <a href="tel:0654875487" class="flex items-center gap-2">
      06 54 87 54 87
    </a>
    <p class="flex items-center gap-2">
      Parc Près la Rose, Montbéliard
    </p>
  </div>
  <div>
    <p class="mb-3 font-bold">Suivez-nous</p>
    <div class="flex gap-4">
      <a href="https://www.instagram.com" aria-label="Instagram">
        <Insta class="h-6 w-6" />
      </a>
      <a href="https://www.facebook.com" aria-label="Facebook">
        <Facebook/>
      </a>
    </div>
  </div>
</footer>
